<header>
    <h1>OS Creation Course</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/#overview">Overview</a></li>
            <li><a href="/#lessons">Lessons</a></li>
            <li><a href="/#progress">Progress</a></li>
            <li><a href="/#resources">Resources</a></li>
            <li><a href="/#preferences">Preferences</a></li>
        </ul>
    </nav>
</header>
